<!DOCTYPE html>
<html>
<head>
    <title>Register Member</title>
</head>
<body>

<h2>Register New Member</h2>

<form method="POST">

    <input type="text"
           name="name"
           placeholder="Enter Name"
           required>

    <br><br>

    <input type="number"
           name="age"
           placeholder="Enter Age"
           required>

    <br><br>

    <select name="plan">

        <option>Monthly</option>
        <option>Quarterly</option>
        <option>Yearly</option>

    </select>

    <br><br>

    <button type="submit">Register</button>

</form>

</body>
</html>     